<!DOCTYPE html>
<html lang="en-US">
<head>
	<% include partials/head %>
	<style>
	
	@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
    background-color: #B8B9B9;
}
*{box-sizing: border-box; padding: 0; margin: 0;}



body::-webkit-scrollbar{
    
    width: 10px;
}

body::-webkit-scrollbar-track{
    
    background-color:white;
    box-shadow: inset 0px 0px 5px grey;
}

body::-webkit-scrollbar-thumb{
    
    background-color: #DE0740;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* webpage design*/
#student-id, #student-name, #student-batch
{
    color: brown;
    font-size: 20px;
}
#st-name, #st-id, #st-batch, #st-mobile, #p-name, #p-mobile
{
    color: brown;
    font-size: 20px;
}
#info-con h4
{
    padding: 0;
    margin: 0;
}
#webpage{
    
    width: 80%;
    margin: 0px auto;
    height: 650px;
    background-color: white;
    
}
#head{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;

}
#student-photo{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    float: left;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 20px;

}
#student-some-info{
    
    width: 265px;
    height: 150px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    padding: 10px;
    
}

#head-id,#head-name,#batch{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    
}

#nav-con{
    
    width: 62%;
    height: 130px;
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}
    

#student-info, #student-marks, #student-attendance, #student-leave, #student-fees, #student-gallery{
    
    width: 120px;
    height: 90px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 27px;
    background-color: #A2C7FE;
    outline: none;
    border: none;
    cursor: pointer;
}

#student-info:hover{
    background-color: #FE5593;
    color: white;
} 
#student-marks:hover{
    background-color: #FE5593;
      color: white;
}
#student-attendance:hover{
    background-color: #FE5593;
      color: white;
}
#student-leave:hover{
    background-color: #FE5593;
      color: white;
}
#student-fees:hover{
    background-color: #FE5593;
      color: white;
}

#section{
    width: 100%;
    height: 700px;
    float: left;
}
#msg-heading{
    width: 100%;
    height: 50px;
    background-color: #616060;
    color: white;
    padding: 5px;
}
#message-con{
    
    width: 250px;
    height: 350px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px grey;
    float: left;
}

#timetable-heading{
     width: 100%;
    height: 50px;
    background-color: #616060;
    color: white;
    padding: 5px;
}


#time-table-con
{
    width:70%;
    height: 350px;
    float: left;
    border: 1px solid #ccc;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px grey;
    
}


#info-con{
    width: 56%;
    height: 350px;
    position: absolute;
    left: 30.5%;
    top: 45.5%;
    background-color: white;
    border: 1px solid #1abc9c;
    box-shadow: 0px 0px 4px #1abc9c;
   display: none;
    
}

#info-heading{
     width: 100%;
    height: 50px;
    background-color: #929710;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

#marks-con{
    width: 56%;
    height: 350px;
    position: absolute;
    left: 30.5%;
    top: 45.5%;
    background-color: white;
    border: 1px solid blue;
    box-shadow: 0px 0px 4px blue;
    display: none;
    
}

#marks-heading{
     width: 100%;
    height: 50px;
    background-color: #9B6E06;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}
#marks{
    width: 300px;
    height: 220px;
    margin: 10px auto;
     border-collapse:collapse;
    padding: 2px;
}
td{
    text-align: center;
}

#attendance-con{
    width: 56%;
    height: 350px;
    position: absolute;
    left: 30.5%;
    top: 45.5%;
    background-color: white;
    border: 1px solid #DE1947;
    box-shadow: 0px 0px 4px #DE1947;
    display: none;
}

#attendance-heading{
     width: 100%;
    height: 50px;
    background-color: #9B6E06;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}

#attendance{
    width: 300px;
    height: 220px;
    margin: 10px auto;
     border-collapse:collapse;
    padding: 2px;
}
td{
    text-align: center;
}

#leave-con{
    width: 56%;
    height: 350px;
    position: absolute;
    left: 30.5%;
    top: 45.5%;
    background-color: white;
    border: 1px solid #DE1947;
    box-shadow: 0px 0px 4px #DE1947;
    display: none;
    
}

#leave-heading{
     width: 100%;
    height: 50px;
    background-color:#0DA831;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}


#form{
    
    margin-top: 20px;
    margin-left: 20%;
}

#from{width: 200px;height: 30px; outline: none;}
#to{width: 200px;height: 30px; outline: none;}
#apply-btn{width: 100px; height: 50px; outline: none; background-color: #B9B8B8; cursor: pointer; font-size: 20px; border: none;}

#fees-con{
    width: 56%;
    height: 350px;
    position: absolute;
    left: 30.5%;
    top: 45.5%;
    background-color: white;
    border: 1px solid #0DA831;
    box-shadow: 0px 0px 4px #0DA831;
    
    display: none;
}

#fees-heading{
     width: 100%;
    height: 50px;
    background-color:#EF3C36;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 30px;
}
#logout_btn
{
    float: right;
    clear: right;
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    background-color: #121212;
    color: white;
    border: 3px solid #D4FD02;
    font-size: 25px;
}

	</style>
    <noscript>
        <h1>SKV request you to enable your javascript......</h1>
        <style>
        
            body{
                background-color: black;
            }
            
            h1{color: white; font-size: 80px;}
    
            #webpage{display: none;}
        </style>
        
    </noscript>
    </head>
<body>
    <div id="logo-con" style="width: 80%;height: 100px; margin:20px auto; background-color: white;"><div style="padding: 5px; width: 350px;height: 100px;float: left;"><h1 style="padding: 0; margin:0;">Welcome to SKV ERP </h1></div><div id="logo" style="float: left;height: 100px; width:100px; border: 1px solid #ddd; border-top-left-radius: 50px;border-top-right-radius: 50px;border-bottom-left-radius:50px; border-bottom-right-radius:50px; margin-left :30%; background-size: cover;"><img src="<%= data.image %>" width="100px" height="100px"></div><a href="/logout"><button id="logout_btn">Logout</button></a></div>     
<div id="webpage">  
    <header id="head">
    <div id="student-photo"style="background-size: cover;"><img src="<%= data.image %>" width="120px" height="120px"></div>
    <div id="student-some-info">
        <div>
            <span id="head-id">ID : </span><span id="student-id"><%= data.id %></span><br><br>
        <span id="head-name">Name : </span><span id="student-name"><%= data.name %></span><br><br>
        <span id="batch">Batch : </span><span id="student-batch"><%= data.batch %></span>   
        </div>
    </div>
        <nav id="nav-con">
            <button id="student-info">Information</button>
            <button id="student-marks"> Marks</button>
            <button id="student-attendance">Attendance</button>
            <button id="student-leave">Apply Leave</button>
            <button id="student-fees">Fees</button>
            <a href='/seegallery'><button id="student-gallery">View Gallery</button></a>
        </nav>
    </header>
    
    <section id="section">
        <div id="message-con"><div id="msg-heading"><h1>Message for you ! </h1></div><a href="/login/downloaded"><span id="message"><%= data.resource_name %></span></a></div>
        <div id="time-table-con"><div id="timetable-heading"><h1>Time Table for you ! </h1></div><div style="width: 100%; height: 300px; background-size: cover;"></div></div>

        <div id="info-con"><div id="info-heading">Your Information</div>
            <br><span>ID : </span><span id="st-id"><%= data.id %></span><br><br>
            <span>Name : </span><span id="st-name"><%= data.name %></span><br><br>
            <span>Batch : </span><span id="st-batch"><%= data.batch %></span><br><br>
            <span>Mobile : </span><span id="st-mobile"><%= data.mobile %></span><br><br>
            <span>Parents : </span><span id="p-name"><%= data.parent %></span><br><br>
            <span>Mobile : </span><span id="p-mobile"><%= data.mobile2 %></span>
        </div>
        <div id="marks-con"><div id="marks-heading">Marks Information</div>
        <table id="marks" border="1px">
                <tr><th>Subject</th><th>Final</th></tr>
                <tr><td>Java</td><td id="java1"><%= data.mark %></td></tr>
        </table>
        
        </div>
        <div id="attendance-con"><div id="attendance-heading">Attendance Information</div>
            <table id="attendance" border="1px">
                <tr><th>Subject</th><th>Attendance</th></tr>
                <tr><td>Java</td><td id="java"><span><%= data.attendence %></span></td></tr>
            </table>
        </div>
        <div id="leave-con"><div id="leave-heading">Leave Information</div>
            <form id="form" action="/login/leave" method="POST">
                From : <input type="date" id="from" name="from_date" required="required"><br><br>
                To : <input type="date" id="to" name="to_date" required="required"><br><br>
                Reason: <br><textarea id="reason" cols="30" rows="5" name="reason" required="required"></textarea><br><br>
                <button id="apply-btn" style="text-decoration:none; color:white;">Apply</button><h3 style="padding: 0;" id="apply-res"></h3>
            </form>
        </div>
        <div id="fees-con"><div id="fees-heading">Fees Information</div><span id="fees"></span></div>
        <a href="/message" style="margin-left: 1000px;">Any problem! message here</a>
    </section>
</div>

<script>
    var socket=io.connect('http://localhost:2000');
    var apply_btn=document.getElementById("apply-btn");
    apply_btn.onclick=function()
    {
        var student_id=(document.getElementById("st-id").innerHTML);
        socket.emit('leave',{
            id:student_id
        })
    }
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}

$(document).ready(function(){
    $("#student-info").click(function(){
         $("#info-con").slideToggle(1200);
    });
});

$(document).ready(function(){
    $("#student-marks").click(function(){
         $("#marks-con").slideToggle(1200);
    });
});


$(document).ready(function(){
    $("#student-attendance").click(function(){
         $("#attendance-con").slideToggle(1200);
    });
});

$(document).ready(function(){
    $("#student-leave").click(function(){
         $("#leave-con").slideToggle(1200);
    });
});


$(document).ready(function(){
    $("#student-fees").click(function(){
         $("#fees-con").slideToggle(1200);
    });
});


</script>
</body>
</html>